{% extends 'base.html.twig' %}

{% block title %}New Style{% endblock %}

{% block body %}
    <h1>Create new Style</h1>

    {{ include('back/style/_form.html.twig') }}

    <a href="{{ path('app_back_style_index') }}">back to list</a>
{% endblock %}
