{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-flex justify-content-end">
        <button class="btn btn-warning me-2">{{ button_label|default('Sauvegarder') }}</button>
    </div>
{{ form_end(form) }}
