{% extends 'base.html.twig' %}

{% block title %}Edit Song{% endblock %}

{% block body %}
    <h1>Edit Song</h1>

    {{ include('back/song/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_back_song_index') }}">back to list</a>

    {{ include('back/song/_delete_form.html.twig') }}
{% endblock %}
