{% extends 'base.html.twig' %}

{% block title %}Welcome Backoffice{% endblock %}

{% block body %}

<h1 class="text-decoration-underline" style="padding-top: 2rem">
    Bienvenue sur le BackOffice
</h1>

<div class="container row justify-content-between col" style="margin-top: 5rem">
 
    {% include 'back/partials/_card_link.html.twig' with { 'entity' : 'albums' } %}
    {% include 'back/partials/_card_link.html.twig' with { 'entity' : 'artists' } %}
    {% include 'back/partials/_card_link.html.twig' with { 'entity' : 'genres' } %}
    {% include 'back/partials/_card_link.html.twig' with { 'entity' : 'songs' } %}
    {% include 'back/partials/_card_link.html.twig' with { 'entity' : 'supports' } %}
{# {% if is_granted('#') %} #}
    {% include 'back/partials/_card_link.html.twig' with { 'entity' : 'users' }%}
{# {% endif %} #}
</div>
{% endblock %}
