{% extends 'base.html.twig' %}

{% block title %}Edit Album{% endblock %}

{% block body %}
    <h1>Edit Album</h1>

    {{ include('back/album/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_back_album_index') }}">back to list</a>

    {{ include('back/album/_delete_form.html.twig') }}
{% endblock %}
