{% extends 'base.html.twig' %}

{% block title %}Edition Album{% endblock %}

{% block body %}
    <h1>Modifier un  Album</h1>

    {{ include('back/album/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn btn-secondary me-2" href="{{ path('app_back_album_index') }}">back to list</a>

    {{ include('back/album/_delete_form.html.twig') }}
{% endblock %}
