{% extends 'base.html.twig' %}

{% block title %}New Album{% endblock %}

{% block body %}
    <h1>Create new Album</h1>

    {{ include('back/album/_form.html.twig') }}

    <a href="{{ path('app_back_album_index') }}">back to list</a>
{% endblock %}
