<!doctype html>
<html lang="fr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
     
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Our custom CSS -->
    {# <link rel="stylesheet" href="{{ asset('#') }}"> #}
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ asset('../images/logo.png') }}" type="image/x-icon">

    <title>{% block title %}DiscO'Tech{% endblock %}</title>
</head>
    <body>
        {% include 'partials/_navbar.html.twig'%}
            
        <div class="container">
            {% block body %}{% endblock %}
        </div>
<!-- footer -->
    <footer class="container-fluid py-4 border-top text-center">
        <span class="text-muted">Copyright DiscO'tech - Radium - O'Clock - 2023 </span>
    </footer>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

</body>

</html>
