{% extends 'base.html.twig' %}

{% block title %}Nouvel Artiste{% endblock %}

{% block body %}
    <h1>Créer un nouvel artiste</h1>

    {{ include('back/artist/_form.html.twig') }}

    <a class="btn btn-secondary me-2" href="{{ path('app_back_artist_index') }}">Retour à la liste</a>
{% endblock %}
